
.total{
    width:720px;
    height:390px;
    margin: 150px auto;
    position:relative;
    color: white;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    letter-spacing: 1.5px;
}
p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
.sedan{
    width:200px;
    height: 350px;
    position: absolute;
    background-color:hsl(31, 77%, 52%) ;
    padding:20px;
}
.suv{
    width:200px;
    height: 350px;
    position: absolute;
    left: 240px;
    background-color: hsl(184, 100%, 22%);
    padding:20px;
}
.luxury{
    width:200px;
    height: 350px;
    position: absolute;
    left: 480px;
    background-color: hsl(179, 100%, 13%);
    padding:20px;
}

.learn{
    margin-top:40px;
    width: 120px;
    height: 30px;
    border: 1px solid white;
    border-radius: 59px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(179, 100%, 13%);
    cursor: pointer;

}

.learn:hover{
    background-color: transparent;
    color: white;
}


/* 
/* .BUTTON_YND {
    margin-top: 40px;
    background: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -webkit-gradient(to bottom, #FFFFFF, #FFFFFF);
    -webkit-border-radius: 59px;
    -moz-border-radius: 59px;
    border-radius: 59px;
    height: 10px;
    line-height: 10px;
    color: #E38826;
    font-family: 'Lexend Deca', sans-serif;
    width: 100px;
    font-size: 15px;
    font-weight: 100;
    padding: 14px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_YND:hover {
    background-color: #E38826;  
    border: solid #FFFFFF 1px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    text-decoration: none; */ */
 